[image-build]
name = c7-imcleod-docker-scratch
version = 1.0
target = mytarget
install_tree = http://mirrors.centos.org/centos/7.0.1406/os/x86_64/
arches = x86_64
scratch = True

format = docker
distro = RHEL-7.0
repo = http://my-additional-repo.com/non-core-repo

#disk_size = 20
ksversion = RHEL7
kickstart = centos.ks
# Or, if doing a non-scratch build, fill in the following
#ksurl = git://github.com/my-kickstarts.git?path/to/ks/in/repo#01c778ba  <---- Hex should match a commit

# These are entirely bogus parameters
[factory-parameters]
docker_cmd = [ '/bin/bash' ]
docker_env = [ 'PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin', 'FOO=BAR' ]
docker_label = { 'foo':'bar', 'do':'oh', 'License': u'GPLv2', 'RUN': 'docker run -it --rm ${OPT1} --privileged -v `pwd`:/atomicapp -v /run:/run -v /:/host --net=host --name ${NAME} -e NAME=${NAME} -e IMAGE=${IMAGE} ${IMAGE} -v ${OPT2} run ${OPT3} /atomicapp', 'Vendor': 'CentOS' }

