# Quick and dirty example of using the image-build configuration format
# to add labels, a default command and env variables to a docker base image

[image-build]
name = docker-labeltest-scratch
version = 1.1
target = <koji-target>
install_tree = <install-url>
arches = x86_64
scratch = True

format = docker
distro = Fedora-25
repo = <additional-repos>

disk_size = 10
ksversion = RHEL7
kickstart = <kickstart-filename>

[factory-parameters]
generate_icicle = False
dockerversion = 1.10.1
docker_cmd = [ "/usr/bin/bash" ]
docker_env = [ "container=docker", "PATH=/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin" ]
docker_label = { "Architecture": "x86_64", "BZComponent": "rhel-server-docker", "Name": "redhat/rhel7", "Release": "2", "Version": "7.2", "Vendor": "Red Hat, Inc" }
